<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body data-select-1-value="select-1-option-1" data-select-2-value="select-2-option-1">

   <!-- content -->

   <div class="page-wrapper">

      <h1>Startpage</h1>

      <p>Select one option (A):</p>

      <select id="select-1">
         <option value="select-1-option-1" selected="selected">Option 1A</option>
         <option value="select-1-option-2">Option 2A</option>
         <option value="select-1-option-3">Option 3A</option>
      </select>

      <br>

      <p>Select one option (B):</p>

      <select id="select-2">
         <option value="select-2-option-1" selected="selected">Option 1B</option>
         <option value="select-2-option-2">Option 2B</option>
         <option value="select-2-option-3">Option 3B</option>
      </select>

   </div>
    
</body>

<script src="assets/js/script.js"></script>

</html>


