<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/normalize.css"> 
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>

   <!-- content -->

   <div class="page-wrapper">

      <h1>You chose 3.2, sub choices</h1>

      <nav>
         <a href="../content/03-02-01.html">Choice 3.2.1</a><br>
         <a href="../content/03-02-02.html">Choice 3.2.2</a><br>
         <a href="../content/03-02-03.html">Choice 3.2.3</a>
      </nav>

   </div>
    
</body>

<script src="../assets/js/script.js"></script>

</html>